img {
    height: 40px;
    width: 40px;
}
td {
    width: 150px;
    text-align: center;
    border: solid;
    border-color: black;
}
thead {
    font-size: 40px;
    font-weight: bold;
    color: coral;
    font-family: cursive;
}